<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmSNezSTBvONnHKQAAtmNFR3IP97TjpZg</string>
	<key>GCM_SENDER_ID</key>
	<string>930525827801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Hryniuk.Viachaslau.CzasWolny</string>
	<key>PROJECT_ID</key>
	<string>czas-wolny-272dd</string>
	<key>STORAGE_BUCKET</key>
	<string>czas-wolny-272dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930525827801:ios:fea4b2a01a34e42306a4c8</string>
</dict>
</plist>